<form #f="ngForm" (ngSubmit)="register(f)">
  <div class="form-group">
    <label for="email"> Email </label>
    <input
      ngModel
      #email="ngModel"
      name="email"
      type="text"
      id="email"
      placeholder="enter your email"
    />
  </div>
  <div class="form-group">
    <label for="password"> Password </label>
    <input
      ngModel
      #passwordg="ngModel"
      name="password"
      type="password"
      id="password"
      placeholder="enter your password"
    />
  </div>
  <div class="form-group">
    <button type="submit">register</button>
  </div>
</form>
