.form-group {
  margin: 20px 30px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group label {
  margin-left: 18px;
  width: 100%;
  min-height: 30px;
}
.form-group input {
  margin-left: 10px;

  width: 100%;
  min-height: 30px;
  border: 2px solid blue;
  border-radius: 7px;
}
button {
  width: 60%;
  min-height: 30px;
  border: 2px solid blue;
  border-radius: 7px;
}
